@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: rgb(69, 69, 69);
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

@media screen and (max-width: 640px) {
  .page-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }
}

#main-banner {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/homepage-banner-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.gyantazas-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/kezelesek_gyantazas_gep.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.kezelesek-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/kezelesek-banner.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.aboutme-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/rolam-banner.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bbglow-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/bbglow11.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.szempilla-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/Kezelesek_szempilla_2000.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.klasszikus-kezelesek-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/Kezelesek_klasszikus_2000.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.relax-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/Kezelesek_relax_2000.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pedikur-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/Kezelesek_pedikur_2000.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.specialis-kezelesek-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/Kezelesek_specialis_2000.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pricelist-bg {
  background: linear-gradient(to top, transparent 30%, white),
    url(../../public/images/arlista-banner.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#btn-main-banner {
  background: linear-gradient(to bottom right, #f5d8c1, #d7a86f);
  color: #242424;
  font-weight: 400;
  transition: all 0.3s;
  font-size: 1rem;
}

#btn-main-banner:hover {
  box-shadow: 0 0 0.15rem rgba(255, 255, 255, 0.9),
    -0.125rem -0.125rem 1rem #b67a3e,
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
  -ms-transform: scale(1.02); /* IE 9 */
  -webkit-transform: scale(1.02); /* Safari 3-8 */
  transform: scale(1.02);
}
